html {
        overflow-x: hidden;
        overflow-y: auto;
    }
    body {
        width: 1000px;
        font-family: Tahoma;
        font-size: 14px;
        }
        h1 {
            font-size: 20px;
            font-weight: bolder;
            }
        h3 {
            font-size: 16px;
            font-weight: bold;
            }
        section {
            display: inline-block;
            width: 600px fit-content;
            height: 97.2%;
            overflow-y: auto;
            position: absolute;
            margin: 0 30px 8px 220px;
            padding: 0 8px 8px 10px;
            border: 1px double gray;
            background-color: rgba(125, 204, 200, 0.137);
            }
        aside, nav {
            width: 200px;
            font-weight: bolder;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            height: 97.2%;
            position: fixed;
            margin: 0 10px 20px 0;
            padding: 0 5px 10px 0;
            vertical-align: top;
            background-image: url("images/papyrus.jpg");
            border-right: 2px double black;
            }
        img {  
            max-width: 100%;
            height: auto;
            }
        table {
            font-family: Tahoma;
            border-collapse: collapse;
            width: 80%;
            margin: 0 auto;
            table-layout: auto;
            }  
            th {
            padding: 18px;
            } 
            td {
            padding: 12px;
            }
            th,
            td {
            border: solid 1px #000000;
            } 
            tr {
            background-color: #EDEDED;
            }
            tr.even {
            background-color: #abdae2d3;
            }
            #heading {
            background-color: #0277ad;
            color: white;
            }